*{
    font-family: sans-serif;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.tabla{
    border: 2px solid skyblue;
    width: 800px;
    
}

.datos{
   text-align: center;
    
}

.tHead{
    padding: 15px;   
}

.proof{
    margin: 10px;
    
}

.tb{
    margin-top: 25px;
}